body{
    font-family: sans-serif;
}
table{
    border-collapse: collapse;
}
th, td{
    border: 1px solid green;
    font-size: 16px;
    padding: 7px 9px;
}

/* Tambah Barang */
.input{
    padding: 5px;
}